# Diretório local do Terraform
.terraform/

# Estado da infraestrutura
*.tfstate
*.tfstate.*
*.tfstate.backup
crash.log
crash.*.log

# Credenciais da AWS
.aws/
credentials
*.pem

# Credenciais GCP
*-key.json
credentials.json
application_default_credentials.json

# Arquivos de sistema
.DS_Store
.vscode/